.sidebar-brand{
  .text-caption{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.75em;
    padding: 0.25em;
  }
}

.list-group-item{
  .actions{
    display: flex;
    width: 44px;
    justify-content: space-between;
  }
}